<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reader's Corner | Create Post </title>
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='createstyle.css')}}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <h1> Create Post </h1>
        <div class="links"> 
            <a href="/home"> Home </a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="main">
        <form action="/create_post" method="POST">
            {% with messages = get_flashed_messages(category_filter=['create_post']) %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="formgroup"> 
                <label for="post_text" class="post_text"> Post:</label>
                <input type="text" name="comment"> 
            </div>
            <div class="formgroup"> 
                <label for="book_club" class="book_club"> Book Club:</label>
                <select id="book_club" name="book_club">
                    <option value="lover_girlz">Lover Girlz</option>
                    <option value="murder_club">Murder Club</option>
                    <option value="theoligist">Theatrical Theoligist </option>
                </select>
            </div>
            <input type="date" id="date_posted" name="date_posted">
            <input type="submit" value="Submit" class="btn"> 
        </form>
    </div>
</body>
</html>
