<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reader's Corner | Home Page</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <h1>Welcome, {{ session['uid'].first_name}}</h1>
        <a href="/logout">Logout</a>
    </div>
    <div class="container">
        <div class="user_info">
            <img>
            <a href="/profile/{{ session['uid'] }}">Profile</a>
        </div>
        <div class="post">
            <h2> Recent Posts</h2>
            {% for post in posts %}
                <p> <strong> {{post.host_username}}</strong> posted to <strong>{{post.book_club}}</strong>{{post.comment}} </p>
                <p> <strong> {{post.date_of_post}}</strong> </p>
                <p> insert likes and comments here</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>