<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reader's Corner | Profile Page </title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <h1> Hi, {{ user.first_name }} </h1>
        <div class="links"> 
            <a href="/homepage"> Home </a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="main">
        <div class="user_info">
            <img src="" >
            <form action="/upload" method="post" enctype="multipart/form-data" style="display: none;">
                <input type="file" name="photoUpload" accept="image/*">
                <button type="submit">Upload</button>
            </form>
            <a href="#" id="uploadLink">Change Profile Picture</a>
            <script>
                document.getElementById('uploadLink').addEventListener('click', function() {
                    document.querySelector('form').submit();
                });
            </script>
            <a href="/new_post"> + Create Post</a>
        </div>
        <div class="user_posts">
            <h2> Your Posts </h2>
            {% for post in posts %}
            <p> <strong> {{ post.host_username }}</strong> posted to <strong>{{ post.book_club }}</strong>: {{ post.comment }} </p>
            <p> <strong> {{ post.date_of_post }}</strong> </p>
                {% if session.uid == post.user_id %}
                        <a href="/post/{{ post.id }}/edit">Edit <strong>|</strong></a>
                        <a href="/post/{{ post.id }}/delete">Delete</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
